/* ==== GENERAL ==== */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
*, body{
    color: #5e5e5e;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    text-decoration: none;
}